;;;;;;;;;;;;;; Settings specific to me ;;;;;;;;;;;;
[user]
	email = smendola@gmail.com
	name = Salvatore Mendola

;;;;;;;;; Generic settings not specific to me ;;;;;;;;

[core]
	autocrlf = false
[color]
	ui = true
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = green bold
	; local = yellow 
	; remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	; added = green
	changed = yellow
	; untracked = red

[alias]
	co = checkout
	ci = commit
	dt = difftool
	dty = difftool -y
	
	; see: http://stackoverflow.com/questions/1527234/finding-a-branch-point-with-git/4991675#4991675
	oldest-ancestor = !bash -c 'diff -u <(git rev-list --first-parent "${1:-master}") <(git rev-list --first-parent "${2:-HEAD}") | sed -ne \"s/^ //p\" | head -1' -
	branchdiff = !sh -c \"git diff `git oldest-ancestor`..\"
	branchdt = !sh -c \"git dt `git oldest-ancestor`..\"
	branchdty = !sh -c \"git dty `git oldest-ancestor`..\"
	branchlog = !sh -c \"git log `git oldest-ancestor`..\"
	
	; MINGW Git requires this ugliness;
	; cygwin git would allow:
	; workon = workon
	; yes, it would.
	branches = !sh -c $HOME/bin/git-branches
	what = !sh -c $HOME/bin/git-what
	workon = !bash -c '$HOME/bin/git-workon "${0}" \"${1}\"'
	permission-reset = "!git diff -p | grep -E \"^(diff|old mode|new mode)\" | sed -e \"s/^old/NEW/;s/^new/old/;s/^NEW/new/\" | git apply"

;;;; Git has built-in support for diffmerge, meld and diffuse
;;;; no need to configure them as custom tools

[diff]
	tool = meld
[merge]
	tool = diffmerge

[remote "config"]
	url = https://smendola@bitbucket.org/smendola/config.git
	fetch = master


[gui]
[url "https://"]
	insteadOf = git://
[push]
	default = simple
[credential]
	helper = cache
