/*
*.bak
*~
#*#
!/.zshrc
!/.zshrc.aliases
!/.custom.sh
!/.gitignore
!/.bashrc
!/.bashrc.aliases
!/.bash_profile
!/.ssh
/.ssh/authorized_keys
!/.vim
!/.vimrc
!/.minttyrc
!/.ffmpeg
!/.emacs
!/.emacs.d
!/.pgpass
!/.ssh
/.ssh/config
/.ssh/known_hosts
/.ssh/id_*
!/bin
!/bin.personal
