[Desktop Entry]
Version=1.0
Type=Application
Name=LMStudio
Comment=
Exec=lmstudio --no-sandbox
Icon=lmstudio
Path=
Terminal=false
StartupNotify=false
